body {
    background: #00087d;
}
h1 {
    color: #85BF59;
    font-size: 126px;
    position: absolute;
    top: 4%;
    text-align: center;
    line-height:  2;
}
.topnav{
    text-align:center;
    overflow: auto;
    width: 45%;
    background-color: #4D897F;
    color: #00087d;
    position: absolute;
    left: 23%;
    top: 1.8%;
    text-decoration: none;
    
}
.topnav a{
    float: center;
    padding: 12px;
    color: #00087d;
    font-size: 20px;
    width: 100%;
    
}
.topnav .current{
  color: #FFFFFF;
}
.mainPageImage{
    display: block;
    margin-left: auto;
    margin-right:auto;
    position: absolute;
    top: 30%;
    max-width: 70%;
    height:70%;
}
.cornwall{
    display: block;
    margin-left: auto;
    margin-right:auto;
    position: absolute;
    top: 30%;
    max-width: 70%;
    height:70%;
}
.boulevard{
    display: block;
    margin-left: auto;
    margin-right:auto;
    position: absolute;
    top: 30%;
    max-width: 70%;
    height:70%;
}
.downtown{
    display: block;
    margin-left: auto;
    margin-right:auto;
    position: absolute;
    top: 30%;
    max-width: 70%;
    height:70%;
}
h2 {
    color: #85BF59;
    font-size: 50px;
    position: absolute;
    text-align: center;
    top: 105%;
    margin-right: 30%;
}
.mainPageParagraph{
    color:#85BF59;
    font-size: 30px;
    position: center;
    text-align: center;
    position: absolute;
    top: 120%;
    text-overflow: clip;
    width: 900px;
    margin-left: 10%;
}